// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quattrocento:wght@400;700&display=swap');


$family-primary: 'Quattrocento', $family-sans-serif;

// Set your colors
$primary: #ffeaaf;
$primary-invert: findColorInvert($primary);

$success: #d1ffb5;
$success-invert: findColorInvert($success);

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
        "twitter": ($twitter, $twitter-invert)
);

$box-background-color: $white;
$box-radius: $radius;
$box-padding: 1rem;
$box-shadow: 0.1em 0.1em 0.4em 0 rgba($scheme-invert, 0.2), 0 0px 0 1px rgba($scheme-invert, 0.1);

// Links
$link: #175fb1;
$link-invert: findColorInvert($link);
//$link-focus-border: $primary;

$navbar-item-color: $link;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
