// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quattrocento:wght@400;700&display=swap');


$family-primary: 'Quattrocento', $family-sans-serif;
$body-min-width: 200px;

// Set your colors
$primary: #ffeaaf;
$primary-invert: findColorInvert($primary);

$info: rgb(246, 226, 245);
$info-invert: findColorInvert($info);

$success: rgb(194, 236, 174);
$success-invert: findColorInvert($success);

$warning: rgb(250, 231, 147);
$warning-invert: findColorInvert($warning);

$danger: rgb(249, 198, 188);
$danger-invert: findColorInvert($danger);

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
        "twitter": ($twitter, $twitter-invert)
);

$box-background-color: $white;
$box-radius: $radius;
$box-padding: 1rem;
$box-shadow: 0.1em 0.1em 0.4em 0 rgba($scheme-invert, 0.2), 0 0px 0 1px rgba($scheme-invert, 0.1);

// Links
$link: #175fb1;
$link-invert: findColorInvert($link);
//$link-focus-border: $primary;

$navbar-item-color: $link;

$toast-border-radius: $radius;

$footer-background-color: $white;

$notification-padding-ltr: 1.25rem;

// Import Bulma and Buefy styles
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";

@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";

@import "../../node_modules/bulma/sass/form/shared.sass";
@import "../../node_modules/bulma/sass/form/tools.sass";
@import "../../node_modules/bulma/sass/form/checkbox-radio.sass";
@import "../../node_modules/bulma/sass/form/input-textarea.sass";

@import "../../node_modules/bulma/sass/grid/columns.sass";

@import "../../node_modules/bulma/sass/helpers/spacing.sass";
@import "../../node_modules/bulma/sass/helpers/typography.sass";

@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/message.sass";

@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

@import "~buefy/src/scss/utils/_all";
@import "~buefy/src/scss/components/_radio";
@import "~buefy/src/scss/components/_skeleton";
@import "~buefy/src/scss/components/_tooltip";
@import "~buefy/src/scss/components/_notices";

